/* Externos */
@import url("https://fonts.googleapis.com/css2?family=Saira+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&family=Saira+Condensed&display=swap");
/* Misc */
/* colors */
.color-principal {
  color: #0061CA; }

.color-secundario {
  color: #DF6A0B; }

.color-base {
  color: #F1F2F2; }

.color-resaltador {
  color: #b8c5f0; }

.color-terciario {
  color: #476796; }

/* font family */
:root {
  --font-principal: 'Saira Condensed', sans-serif;
  --font-secundary: 'Roboto Slab', serif; }

@keyframes animacionLogo {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotateY(0deg); }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotateY(180deg); }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotateY(360deg); } }

body {
  margin: 0%; }

nav {
  display: flex;
  flex-direction: row;
  min-height: 70%;
  width: 100%;
  /* background-color: #F1F2F2; */
  justify-content: space-between; }
  nav.navbar a {
    font-weight: 800;
    font-family: var(--font-principal);
    padding: .5rem 1rem;
    transition: 2s;
    color: #0061CA; }
  nav a:hover {
    color: black;
    border-bottom: 2px solid #476796; }

a {
  text-decoration: none;
  color: #0061CA; }

@media screen and (max-width: 320px) {
  nav {
    display: flex;
    flex-direction: column;
    background-color: #F1F2F2;
    width: 100%; }
    nav .imagenEncabezado {
      width: 100%;
      height: auto; }
  #navbarNav .menu {
    display: flex;
    flex-direction: column;
    font-size: 0.8em; }
  main .grid_area {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 0.8em;
    flex-flow: row wrap;
    width: 95%; }
  section .imagenBanner {
    display: flex;
    width: 100%; }
  main .presentacion .presentacion__imagen {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 36px;
    width: 80%; }
  main .presentacion .imagen__presentacion {
    display: flex;
    width: 100%; }
  main .presentacion .presentacion__texto {
    display: flex;
    justify-content: center;
    margin: 0px 10px;
    font-family: var(--font-principal);
    font-size: 0.8em;
    color: #DF6A0B; }
  main .contacto {
    display: flex;
    flex-direction: row;
    justify-content: center; }
    main .contacto .lista__contacto, main .contacto .items__contacto {
      display: flex;
      flex-direction: column;
      width: 100%; }
    main .contacto .items__contacto {
      display: flex;
      flex-direction: column;
      width: 100%; }
  main .contacto__ubicacionymail {
    font-size: 0.8em; }
    main .contacto__ubicacionymail .contacto__mapa {
      width: 100%; } }

@media screen and (max-width: 1050px) {
  header {
    background-color: #F1F2F2;
    margin: 0%;
    width: 100%; }
    header nav {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      background-color: #F1F2F2;
      width: 100%; }
      header nav .imagenEncabezado {
        width: 100%;
        height: auto; }
  main .grid_area {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, 400px);
    margin: 10px 10px;
    padding: 10px;
    width: 100%;
    gap: 30px;
    font-size: 0.8em; }
    main .grid_area div#imagen1 {
      background-color: #DF6A0B;
      grid-column: 1 / 2;
      grid-row: 1;
      padding: 2px;
      width: 100%; }
    main .grid_area div#imagen2 {
      background-color: #0061CA;
      grid-column: 2 / 3;
      grid-row: 1;
      padding: 2px;
      width: 100%; }
    main .grid_area div#imagen3 {
      background-color: #DF6A0B;
      grid-column: 1 / 2;
      grid-row: 2;
      padding: 2px;
      width: 100%; }
    main .grid_area div#imagen4 {
      background-color: #0061CA;
      grid-column: 2 / 3;
      grid-row: 2;
      padding: 2px;
      width: 100%; }
    main .grid_area div#imagen5 {
      background-color: #DF6A0B;
      grid-column: 1 / 2;
      grid-row: 3;
      padding: 2px;
      width: 100%; }
    main .grid_area div#imagen6 {
      background-color: #0061CA;
      grid-column: 2 / 3;
      grid-row: 3;
      padding: 2px;
      width: 100%; }
    main .grid_area .productos {
      display: flex;
      justify-content: center; }
    main .grid_area .subtitulo_imagen {
      display: flex;
      justify-content: center; }
  .grid_area #videos {
    display: flex;
    justify-content: center;
    background-color: white; }
    .grid_area #videos .video1 {
      grid-column: 1 / 2;
      grid-row: 4;
      width: 50%; }
    .grid_area #videos .video2 {
      grid-column: 2 / 3;
      grid-row: 4;
      width: 100%; }
    .grid_area #videos .video3 {
      grid-column: 2;
      grid-row: 5;
      width: 50%; } }

@media screen and (max-width: 675px) {
  header {
    background-color: #F1F2F2;
    margin: 0%;
    width: 100%; }
    header nav {
      display: flex;
      justify-content: center; }
      header nav .imagenEncabezado {
        width: 100%; }
  #navbarNav .menu {
    display: flex;
    flex-direction: column;
    font-size: 0.9em; }
  main .presentacion .presentacion__texto {
    display: flex;
    flex-direction: column;
    font-size: 1em; }
  main .contacto {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%; }
    main .contacto .lista__contacto, main .contacto .items__contacto {
      display: flex;
      flex-direction: column;
      width: 100%; }
    main .contacto .items__contacto {
      display: flex;
      flex-direction: column;
      width: 100%; }
  main .contacto__ubicacionymail {
    font-size: 0.9em; }
    main .contacto__ubicacionymail .contacto__mapa {
      width: 100%; }
    main .contacto__ubicacionymail .contacto__email {
      font-size: 0.9em; } }

@media screen and (max-width: 425px) {
  main .presentacion .presentacion__imagen {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    width: 75%; }
  main .presentacion .imagen__presentacion {
    display: flex;
    align-items: center;
    width: 100%; }
  main .grid_area {
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 0.8em;
    flex-flow: row wrap;
    width: 95%; } }

/* pages */
.contacto {
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: 100%;
  font-family: var(--font-principal); }
  .contacto .lista__contacto, .contacto .items__contacto {
    display: flex;
    flex-direction: column;
    margin: 20px; }
  .contacto .items__contacto {
    margin: 0;
    width: 20%; }

.contacto__ubicacionymail {
  font-family: var(--font-principal);
  font-size: 2em; }

.nosotros {
  font-family: var(--font-principal);
  color: #476796; }

.consultas {
  flex-direction: column; }
  .consultas .titulo__consultas {
    font-family: var(--font-principal);
    color: #0061CA; }
  .consultas .subt__consultas {
    font-family: var(--font-principal);
    color: #0061CA; }
  .consultas .subt__consultas {
    font-family: var(--font-principal);
    color: #0061CA; }
  .consultas .descripcion__consultas {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #476796; }

.texto__formulario {
  display: flex;
  flex-direction: column; }

.botones__formulario {
  display: inline; }

.grid_area {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(3, 400px);
  gap: 30px;
  font-family: var(--font-secundary);
  padding: 35px;
  margin-right: 10px;
  font-size: 1em;
  width: 95%; }

.subtitulo_imagen {
  color: bisque;
  font-family: var(--font-principal);
  margin-left: 15px; }

.productos {
  display: flex;
  justify-content: center; }

div#imagen1 {
  background-color: #DF6A0B;
  grid-column: 1 / 2;
  grid-row: 1;
  padding: 2px;
  width: 100%;
  border-radius: 4%; }
  div#imagen1:hover {
    background-color: #b8c5f0;
    filter: brightness(1); }

div#imagen2 {
  background-color: #0061CA;
  grid-column: 2 / 3;
  grid-row: 1;
  padding: 2px;
  width: 100%;
  border-radius: 4%; }
  div#imagen2:hover {
    background-color: #b8c5f0;
    filter: brightness(1); }

div#imagen3 {
  background-color: #DF6A0B;
  grid-column: 3 / 4;
  grid-row: 1;
  padding: 2px;
  width: 100%;
  border-radius: 4%; }
  div#imagen3:hover {
    background-color: #b8c5f0;
    filter: brightness(1); }

div#imagen4 {
  background-color: #0061CA;
  grid-column: 1 / 2;
  grid-row: 2;
  padding: 2px;
  width: 100%;
  border-radius: 4%; }
  div#imagen4:hover {
    background-color: #b8c5f0;
    filter: brightness(1); }

div#imagen5 {
  background-color: #DF6A0B;
  grid-column: 2 / 3;
  grid-row: 2;
  padding: 2px;
  width: 100%;
  border-radius: 4%; }
  div#imagen5:hover {
    background-color: #b8c5f0;
    filter: brightness(1); }

div#imagen6 {
  background-color: #0061CA;
  grid-column: 3 / 4;
  grid-row: 2;
  padding: 2px;
  width: 100%;
  border-radius: 4%; }
  div#imagen6:hover {
    background-color: #b8c5f0;
    filter: brightness(1); }

#videos {
  display: flex;
  justify-content: center;
  background-color: white; }

.video1 {
  grid-column: 1 / 2;
  grid-row: 3;
  width: 50%; }

.video2 {
  grid-column: 2 / 3;
  grid-row: 3;
  width: 100%; }

.video3 {
  grid-column: 3 / 4;
  grid-row: 3;
  width: 50%; }

/* partials */
.piedepagina {
  display: flex;
  flex-direction: row;
  margin: 0px;
  background-color: #F1F2F2; }
  .piedepagina .enlaces__piedepagina {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px;
    background-color: #F1F2F2; }

.logosocial {
  background-color: var(--color-base);
  width: 20%; }

header {
  /* background-color: #F1F2F2; */
  margin: 0%;
  width: 100%;
  background-image: linear-gradient(to right, #F1F2F2, #b8c5f0); }

.imagenEncabezado {
  animation-duration: 3s;
  animation-name: animacionLogo;
  animation-iteration-count: 1; }

.menu {
  display: flex;
  flex-direction: row; }
  .menu .menu__enlace {
    display: flex;
    justify-content: space-around;
    margin: 20px 50px; }

.imagenBanner {
  display: flex;
  width: 100%; }

.presentacion {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; }
  .presentacion .presentacion__imagen {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 50px 20px; }
  .presentacion .presentacion__texto {
    margin: 0px 40px;
    font-family: var(--font-principal);
    font-size: 2em;
    color: #DF6A0B; }
