/* @import url('https://fonts.googleapis.com/css2?family=Saira+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&family=Saira+Condensed&display=swap'); */

/* :root {

            /* colors */
    --color-principal: #0061CA;
    --color-secundario: #DF6A0B;
    --color-base: #F1F2F2;
    --color-resaltador: #b8c5f0;
    --color-terciario: #476796;
            /* font family */
    --font-principal:  'Saira Condensed', sans-serif;
    --font-secundary: 'Roboto Slab', serif;
} */



/* body{
    margin: 0%;
} */
/* header{
    /* background-color: #F1F2F2; */
    /* margin: 0%;
    width: 100%;
    background-image: linear-gradient(to right, var(--color-base), var(--color-resaltador));
} */ */
/* nav { 
    display: flex;
    flex-direction: row;
    min-height: 70%;
    width: 100%; */
    /* background-color: #F1F2F2;
    justify-content: space-between;  
}
a {
    text-decoration: none;
    color: var(--color-principal);
}
nav.navbar a {
    font-weight: 800;
    font-family: var(--font-principal);
    padding: .5rem 1rem;
    transition: 2s;
    color: var(--color-principal);
 
}
nav a:hover{
    color: black;
    border-bottom: 2px solid #476796;
} */
/* .imagenEncabezado{
    animation-duration: 3s;
	animation-name: animacionLogo;
	animation-iteration-count: 1;
}
.menu {
    display: flex;
    flex-direction: row;
}
.menu__enlace {
    display: flex;
    justify-content: space-around;
    margin: 20px 50px;
    /* font-family: 'Roboto Slab', serif; */

} */

/* .imagenBanner {
    display: flex;
    width: 100%;
}
.presentacion {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.presentacion__imagen {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 50px 20px;
}
.presentacion__texto {
    margin: 0px 40px;
    font-family: var(--font-principal);
    font-size: 2em;
    color: var(--color-secundario);

} */
/* .piedepagina {
    display: flex;
    flex-direction: row;
    margin: 0px;
    background-color: var(--color-base);
}
.enlaces__piedepagina {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px;
    background-color: var(--color-base);
} */
/* .logosocial {
    background-color: var(--color-base);
    width: 20%;
} */
/* PRODUCTOS */
/* .productos {
    size: 100%;
    width: 100%;
    font-family:'Saira Condensed', sans-serif;
    background-color: #DF6A0B;
} */
/* #videos{
 display: flex;
} */
/* .grid_area{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, 400px);
    gap: 30px;
    font-family: var(--font-secundary);
    padding: 35px;
    margin-right: 10px;
    font-size: 1em;
    width: 95%;
}
.subtitulo_imagen{
    color: bisque;
    font-family: var(--font-principal);
    margin-left: 15px;
}
.productos{
    display: flex;
    justify-content: center;
}

div#imagen1 {
    background-color: var(--color-secundario);
    grid-column: 1 / 2;
    grid-row: 1;
    padding: 2px;
    width: 100%;
    border-radius: 4%;  
}
div#imagen1:hover{
    background-color: var(--color-resaltador);
    filter: brightness(1);
}
div#imagen2{
    background-color: var(--color-principal);
    grid-column: 2 / 3;
    grid-row: 1;
    padding: 2px;
    width: 100%;
    border-radius: 4%;
   
}
div#imagen2:hover{
    background-color: var(--color-resaltador);
    filter: brightness(1);    
}
div#imagen3{
    background-color: var(--color-secundario);
    grid-column: 3 / 4;
    grid-row: 1;
    padding: 2px;
    width: 100%;
    border-radius: 4%;
}
div#imagen3:hover{
    background-color: var(--color-resaltador);
    filter: brightness(1);    
}
div#imagen4{
    background-color: var(--color-principal);
    grid-column: 1 / 2;
    grid-row: 2;
    padding: 2px;
    width: 100%;
    border-radius: 4%;
}
div#imagen4:hover{
    background-color: var(--color-resaltador);
    filter: brightness(1);    
}

div#imagen5{
    background-color: var(--color-secundario);
    grid-column: 2 / 3;
    grid-row: 2;
    padding: 2px;
    width: 100%;
    border-radius: 4%;
}
div#imagen5:hover{
    background-color: var(--color-resaltador);
    filter: brightness(1);    
}

div#imagen6{
    background-color: var(--color-principal);
    grid-column: 3 / 4;
    grid-row: 2;
    padding: 2px;
    width: 100%;
    border-radius: 4%;
}
div#imagen6:hover{
    background-color: var(--color-resaltador);
    filter: brightness(1);    
}
#videos{
    display: flex;
    justify-content: center;
    background-color: white;
}
.video1{
    grid-column: 1 / 2;
    grid-row: 3;
    width: 50%;
}
.video2{
    grid-column: 2 / 3;
    grid-row: 3;
    width:100%;


}
.video3{
    grid-column: 3 / 4;
    grid-row: 3;
    width:50%;
} */

/* FIN PRODUCTOS */
/* .consultas {
    flex-direction: column;
}
.titulo__consultas {
    font-family: var(--font-principal);
    color: var(--color-principal);
}
.subt__consultas {
    font-family: var(--font-principal);
    color: #0075CA;
}
.descripcion__consultas {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--color-terciario);
}
.texto__formulario {
    display: flex;
    flex-direction: column;
}
.botones__formulario {
    display: inline;
} */
/* CONTACTO */
/* .contacto {
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 100%;
    font-family: var(--font-principal);
}
.lista__contacto {
    display: flex;
    flex-direction: column;
    margin: 20px;
}
.items__contacto {
    display: flex;
    flex-direction: column;
    width: 20%;
}
.contacto__ubicacionymail {
    font-family: var(--font-principal);
    font-size: 2em;
} */
/* FIN CONTACTO*/

/* NOSOTROS */
/* .nosotros {
    font-family: var(--font-principal);
    color: var(--color-terciario);
} */
/* FIN NOSOTROS */

/* Animaciones */
/* @keyframes animacionLogo{
        from {
            -webkit-transform: rotate(0deg);
            transform: rotateY(0deg);
        }
      50%{
            -webkit-transform: rotate(180deg);
            transform: rotateY(180deg);
        } 
        to {
            -webkit-transform: rotate(360deg);
            transform: rotateY(360deg);
            }
} */

@media screen and (max-width: 320px) {
    nav { 
        display: flex;
        flex-direction: column;
        background-color: var(--color-base);
        width: 100%;
    }
    .imagenEncabezado{
        width: 100%;
        height: auto;
    }
    .menu {
        display: flex;
        flex-direction: column;
        font-size: 0.8em;
    }
    .grid_area{
        display: flex;
        flex-direction: column;
        gap: 5px;
        font-size: 0.8em;
        flex-flow: row wrap;
        width: 95%;
    }
    .imagenBanner {
        display: flex;
        width: 100%;
    }
    .presentacion__imagen {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 36px;
        width: 80%;
    }
    .imagen__presentacion {
        display: flex;
        
        width: 100%;
    }
    .presentacion__texto {
        display: flex;
        justify-content: center;
        margin: 0px 10px;
        font-family: var(--font-principal);
        font-size: 0.8em;
        color: var(--color-secundario);
    
    }
    .contacto {
        display: flex;
        flex-direction: row;
        justify-content: center;
       }
       .lista__contacto {
           display: flex;
           flex-direction: column;        
           width: 100%;
       }
       .items__contacto {
           display: flex;
           flex-direction: column;
           width: 100%;
           

       }
       .contacto__ubicacionymail{
         font-size: 0.8em;         
       }
       .contacto__mapa {
           width: 100%;
       }

}
@media screen and (max-width: 1050px) {
    header{
        background-color: var(--color-base);
        margin: 0%;
        width: 100%;
    }
    nav { 
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        background-color: var(--color-base);
        width: 100%;
    }
    .imagenEncabezado{
        width: 100%;
        height: auto;
    }
    .grid_area{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(5, 400px);
        margin: 10px 10px;
        padding: 10px;
        width: 100%;
        gap: 30px;
        font-size: 0.8em;
    }
    div#imagen1 {
        background-color: var(--color-secundario);
        grid-column: 1 / 2;
        grid-row: 1;
        padding: 2px;
        width: 100%;
    }
    div#imagen2{
        background-color: var(--color-principal);
        grid-column: 2 / 3;
        grid-row: 1;
        padding: 2px;
        width: 100%;
    }
    div#imagen3{
        background-color: var(--color-secundario);
        grid-column: 1 / 2;
        grid-row: 2;
        padding: 2px;
        width: 100%;
    }
    div#imagen4{
        background-color: var(--color-principal);
        grid-column: 2 / 3;
        grid-row: 2;
        padding: 2px;
        width: 100%;
    }
    
    div#imagen5{
        background-color: var(--color-secundario);
        grid-column: 1 / 2;
        grid-row: 3;
        padding: 2px;
        width: 100%;
    }
    
    div#imagen6{
        background-color: var(--color-principal);
        grid-column: 2 / 3;
        grid-row: 3;
        padding: 2px;
        width: 100%;
    }
    #videos{
        display: flex;
        justify-content: center;
        background-color: white;
    }
    .video1{
        grid-column: 1 / 2;
        grid-row: 4;
        width: 50%;
    }
    .video2{
        grid-column: 2 / 3;
        grid-row: 4;
        width:100%;
    
    
    }
    .video3{
        grid-column: 2;
        grid-row: 5;
        width:50%;
    }
    .productos {
        display: flex;
        justify-content: center;
    }
    .subtitulo_imagen {
        display: flex;
        justify-content: center;
    }
}
@media screen and (max-width: 675px) {
    header{
        background-color: var(--color-base);
        margin: 0%;
        width: 100%;
    }
    .imagenEncabezado{
        width: 100%;
    }
    .menu {
        display: flex;
        flex-direction: column;
        font-size: 0.9em;
    }
    nav {
        display: flex;
        justify-content: center;
    }
    /* .presentacion__imagen{
        display: flex;
        flex-direction: column;
    } */
    .presentacion__texto {
        display: flex;
        flex-direction: column;
        font-size: 1em;
    }
    .contacto {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
       }
       .lista__contacto {
           display: flex;
           flex-direction: column;        
           width: 100%;
       }
       .items__contacto {
           display: flex;
           flex-direction: column;
           width: 100%;
           

       }
       .contacto__ubicacionymail{
         font-size: 0.9em;         
       }
       .contacto__mapa {
           width: 100%;
       }
       .contacto__email {
           font-size: 0.9em;
       }
}
@media screen and (max-width: 425px) {
    .presentacion__imagen {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px;
        width: 75%;
        
    }
    .imagen__presentacion {
        display: flex;
        align-items: center;
        width: 100%;
    }
    .grid_area{
        display: flex;
        flex-direction: column;
        gap: 30px;
        font-size: 0.8em;
        flex-flow: row wrap;
        width: 95%;
    }
}
