.piedepagina {
    display: flex;
    flex-direction: row;
    margin: 0px;
    background-color: #F1F2F2;
    .enlaces__piedepagina {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 20px;
        background-color: #F1F2F2;
    }
    }
