.consultas {
    flex-direction: column;
    .titulo__consultas {
        font-family: var(--font-principal);
        color: map-get($colors, color-principal);
    }
    .subt__consultas {
        font-family: var(--font-principal);
    color: map-get($colors, color-principal);
    }
    .subt__consultas {
        font-family: var(--font-principal);
        color: map-get($colors, color-principal);
    }
    .descripcion__consultas {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: map-get($colors, color-terciario);
    }
}

.texto__formulario {
    display: flex;
    flex-direction: column;
}
.botones__formulario {
    display: inline;
}