.grid_area{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, 600 px);
    gap: 30px;
    font-family: var(--font-secundary);
    padding: 35px;
    margin-right: 10px;
    font-size: 1em;
    width: 95%;
}
.searchBox {
    display: flex;
    justify-content: flex-end;
    border: none;
    border-radius: 5px;
    padding-left: 10%;
    margin-right: 15%;
}
.subtitulo_imagen{
    color: bisque;
    font-family: var(--font-principal);
    margin-left: 15px;
}
.productos{
    display: flex;
    justify-content: center;
}

.buttonCpra{
    display: flex;
    flex-wrap: wrap;
    //justify-content: flex-start;
    position: relative;
    margin: 10px 0;
    background-color: #512E5F;
    color: map-get($colors, color-base);
    font-size: 10px;
    font-weight: 300;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    &:hover {
        background-color: map-get($colors, color-base) ;
        color: #512E5F;
        box-shadow: (1px, 1px, 10px, gainsboro);
}
}

.btnQuitar{
    display: flex;
    flex-wrap: wrap;
    //justify-content: flex-start;
    position: relative;
    margin: 10px 0;
    background-color: #512E5F;
    color: map-get($colors, color-base);
    font-size: 10px;
    font-weight: 300;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    &:hover {
        background-color: map-get($colors, color-base) ;
        color: #512E5F;
        box-shadow: (1px, 1px, 10px, gainsboro);
}
}

div#imagen1 {
    background-color: map-get($colors, color-secundario);
    grid-column: 1 / 2;
    grid-row: 1;
    padding: 20px;
    width: 100%;
    border-radius: 4%; 
    &:hover{
        background-color: map-get($colors, color-resaltador);
        filter: brightness(1);
    } 
}
div#imagen2{
    background-color: map-get($colors, color-principal);
    grid-column: 2 / 3;
    grid-row: 1;
    padding: 2px;
    width: 100%;
    border-radius: 4%;
   &:hover{
    background-color: map-get($colors, color-resaltador);
    filter: brightness(1);    
}
}
div#imagen3{
    background-color:  map-get($colors, color-secundario);
    grid-column: 3 / 4;
    grid-row: 1;
    padding: 2px;
    width: 100%;
    border-radius: 4%;
    &:hover{
        background-color: map-get($colors, color-resaltador);
        filter: brightness(1);    
    }
}

div#imagen4{
    background-color: map-get($colors, color-principal);
    grid-column: 1 / 2;
    grid-row: 2;
    padding: 20px;
    width: 100%;
    border-radius: 4%;
    &:hover{
        background-color: map-get($colors, color-resaltador);
        filter: brightness(1);    
    }
}
div#imagen5{
    background-color:  map-get($colors, color-secundario);
    grid-column: 2 / 3;
    grid-row: 2;
    padding: 2px;
    width: 100%;
    border-radius: 4%;
    &:hover{
        background-color: map-get($colors, color-resaltador);
        filter: brightness(1);    
    }
}
div#imagen6{
    background-color:map-get($colors, color-principal);
    grid-column: 3 / 4;
    grid-row: 2;
    padding: 2px;
    width: 100%;
    border-radius: 4%;
    &:hover{
        background-color: map-get($colors, color-resaltador);
        filter: brightness(1);    
    }
}

#videos{
    display: flex;
    justify-content: center;
    background-color: white;
}
.video1{
    grid-column: 1 / 2;
    grid-row: 3;
    width: 50%;
}
.video2{
    grid-column: 2 / 3;
    grid-row: 3;
    width:100%;
}
.video3{
    grid-column: 3 / 4;
    grid-row: 3;
    width:50%;
}